.sidebar {
    flex: 0.2;
    background-color: black;
    height: 100vh;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo {
    height: 80px;
    object-fit: contain;
}

.sidebar-content-item {
    color: white;
}



/* @media screen and (max-width : 850px) {
    .sidebar {
        display: none;
    }
} */