.login {
    height: 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
}

.login-main {
    height: 60vh;
    width: 40vw;
    background-color: #ffffff;
    border-radius: 10px;
}

.main-logo {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -15px;
}

.logo {
    height: 100px;
    width: 150px;
    object-fit: contain;
}

.main-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.main-paragraph > p {
    font-size: 10px;
}

.form-container {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}



form > div {
    margin-top: 10px;
}

::placeholder {
    font-size: 10px;
}

.form-email > input{
    width: 290px;
    padding: 5px 0px 5px 5px;
    outline-width: 0px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 5px;
    height: 20px;
    margin-top: 5px;
}

.form-password > input{
    width: 290px;
    padding: 5px 2px;
    outline-width: 0px;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 5px;
    height: 20px;
    margin-top: 5px;
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.button{
    background: #182cd1 !important;
    width : 290px !important;
    color: white !important;
    text-transform: inherit !important;
    font-size: 10px !important;
    padding: 8px 0px !important;
}


.dont-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.dont-container > p {
    font-size: 10px;
}


.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-box {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.check-box > label {
    font-size: 10px;
}

.forgot {
    font-size: 10px;
    margin-left: 40px;
}



.button-login{
    background: #6979f8 !important;
    width : 290px !important;
    color: white !important;
    text-transform: inherit !important;
    font-size: 10px !important;
    padding: 8px 0px !important;
}

.forgot-password {
    text-decoration: none;
    color: black;    
}



@media screen and (max-width : 850px){
    .login-main {
        width: 70vw;
    }
}

@media screen and (max-width : 400px) {

    .check-box {
       
        margin-right: 30px;
    }


    .forgot {
        
        margin-left: 0px;
    }
}






  
   
